/admin-server/node_modules
/admin-server/dist
/admin-server/.env
/admin-server/package-lock.json

/microservice/node_modules
/microservice/dist
/microservice/.env
/microservice/package-lock.json


/http-server/node_modules
/http-server/dist
/http-server/.env
/http-server/package-lock.json